<div>
  <h3>
    You can get phones by <i>/phones</i> or
    <i>/phones?page=*&size=*&sort=*</i> endpoint
  </h3>
  If page, size or sort are not mentioned, they will be set by default
  <br />
  Sort values: title, age, price
  <br />
  Page by default = 1
  <br />
  Size by default = 16
  <br />
  Sort by default = age
  <br />
  Will return object with params:
  <ul>
    <li>phones</li>
    <li>total</li>
    <li>page</li>
    <li>size</li>
  </ul>

  <h3>Get phone by <i>/phones/:phoneId</i> endpoint</h3>
  <p>Will return phone object</p>

  <h3>
    Get recommended phones by <i>/phones/:phoneId/recommended</i> endpoint
  </h3>
  <p>Will return object with array of 8 recommended phones</p>
  <h3>Get best price phones by <i>/phones/discount</i> endpoint</h3>
  <p>Will return object with array of 12 phones with the biggest sales</p>
  <h3>Get new phones by <i>/phones/new</i> endpoint</h3>
  <p>Will return object with array of 12 newest phones</p>
</div>
