<div>
  <h3>
    You can get products by <i>/products</i> or
    <i>/products?page=*&size=*&sortBy=*&productType=*</i> endpoint
  </h3>
  If page, size, sortBy or productType are not mentioned, they will be set by
  default
  <br />
  sortBy values: title, age, price
  <br />
  page by default = 1
  <br />
  size by default = 16
  <br />
  sortBy by default = age
  <br />
  productType by default = products
  <br />
  Will return object with params:
  <ul>
    <li>products</li>
    <li>total</li>
    <li>page</li>
    <li>size</li>
    <li>sort</li>
    <li>category</li>
  </ul>

  <h3>Get product by <i>/products/:productId</i> endpoint</h3>
  <p>Will return product object</p>

  <h3>
    Get recommended products by <i>/products/:productId/recommended</i> endpoint
  </h3>
  <p>Will return object with array of 8 recommended products</p>
  <h3>Get best price products by <i>/products/discount</i> endpoint</h3>
  <p>Will return object with array of 12 products with the biggest sales</p>
  <h3>Get new products by <i>/products/new</i> endpoint</h3>
  <p>Will return object with array of 12 newest products</p>
</div>
